*{
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    border: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
           -box-sizing: border-box;
    background-color: #141414;
}

.search::placeholder {
    font-family: 0.9em 'Montserrat', sans-serif;
    font-weight: 700;
    color: #888888;
}

img.albums{
    width: 250px;
    height: 250px; 
    margin-top:15px; 
    margin-left:35px;
    border-radius: 10px;
}

div.albums{
    position: absolute;
    right: 0;
    z-index: 0;
    width: calc(100% - 290px); 
    height: 300px;
    top: 30%;
    display: flex;
} 

header{
    width: calc(100% - 280px);
    height: 90px;
    right: 0px;
    top: 0px;
    background: #1F1F1F;
    z-index: 5;
    position: fixed;
}

div.new{
    border-bottom: 0.1px solid #363636;
    border-top: 0;
    position: absolute;
    width:  1750px;
    right:  2%;
    top: 21%;
    z-index: 4;
}

h1{
    position: relative;
    font: 2.5em 'Montserrat', sans-serif;
    font-weight: 700;
    left: 16.5%;
    text-align: left;
    background: none;
    color: white;
    width: 190px;
    top: 150px;
    z-index: 1;
}

h2{
    width: 250px;
    font: 0.9em 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ABABAB;
    text-align: left;
    position: absolute;
    left: 13%;
}

div.slide{
    width: 300px;
    height: 300px;
    position: relative;
    
}

input[type=text] {
    position: absolute;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 8px;
    width:  1750px;
    right:  2%;
    top: 22%;
    padding: 12px 20px;
    font: 0.9em 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
}

input[type=text]:focus {
    opacity: 1;
    background: #272727;
    border: 1px solid #272727;
    transition: 0.2s;
}

h2.error{
    width: 800px;
    font: 2.6em 'Montserrat', sans-serif;
    font-weight: 700;
    color: #9C9C9C;
    text-align: left;
    position: relative;
    left: 500px;
    top: 250px;
}

.overlay{
    position: absolute;
    transition: all .3s ease;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 250px;
    height: 250px; 
    top: 15px;
    left: 35px;
    border-radius: 10px;
}

.overlay:hover{
    opacity: 1;
    cursor: pointer;
    
}

a.button{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    background-color: transparent;
    top: 84%;
    right: 5%;
    display: inline-block;
    background-color: rgba(192,192,192, 0.4);
    background-image: url("img/edit.svg");
}

a.button:hover{
    background-color: #F05E54; 
}
