div.sidebar{
    position: fixed;
    width: 280px;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #000000;
    z-index: 5;
}

.artist-create, .artist-btm, .album-create, .album-btm, .playlist-create, .playlist-btm{
    position: absolute;
    width: 240px;
    height: 30px;
    background-size: 100%;
    background-color: transparent;
    border-radius: 5px;
    text-align: left;
    font: 0.9em 'Montserrat', sans-serif;
    font-weight: 600;
    padding:  0.5em;
}

.artist-btm{
    top: 17%;
    right: 30px;
    color: #5E5E5E;
}

.artist-create{
    top: 20%;
    right: 30px;
    color: #5E5E5E;
    padding-left: 1.5em;
}

.album-btm{
    top: 28%;
    right: 30px;
    color: #5E5E5E;
}

.album-create{
    top: 31%;
    right: 30px;
    color: #5E5E5E;
    padding-left: 1.5em;
}

.playlist-btm{
    top: 38%;
    right: 30px;
    color: #5E5E5E;
}

.playlist-create{
    top: 41%;
    right: 30px;
    color: #5E5E5E;
    padding-left: 1.5em;
}


.album-btm:hover, .playlist-btm:hover, .artist-btm:hover, .album-create:hover, .artist-create:hover, .playlist-create:hover{
    background-color: rgba(192,192,192, 0.4);
    color: white;
    cursor: pointer;
    transition: 50ms;
}

.search_sidebar::placeholder {
    font-family: 0.9em 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
}

input[type=text].search_sidebar{
    position: absolute;
    background: #272727;
    border: 1px solid #272727;
    border-radius: 8px;
    width:  240px;
    right: 30px;
    top: 12%;
    padding: 12px 10px;
    height: 40px;
    font: 0.9em 'Montserrat', sans-serif;
    color: white;
    font-weight: 500;
    height: 35px;
}

input[type=text].search_sidebar:hover{
    cursor: pointer;
    
}

.content{
    position: absolute;
    top: 90px;
    right: 0;
    width: calc(100% - 280px);
    background-color: #141414;
    height: calc(100% - 90px);
    display: none;
    z-index: 5;
    
}

.content-active{  
  display: inline;
  z-index: 3;
}

p.artists, p.albums, p.musics{
    position: relative;
    font: 1.5em 'Montserrat', sans-serif;
    font-weight: 700;
    left: 3.5%;
    text-align: left;
    background: none;
    color: #E0E0E0;
    width: 190px;
}

p.artists{
    top: 4%;
}

p.albums{
    top: 24%;
} 

p.musics{
    top: 49%;
}

.artists-line, .albums-line, .musics-line{
    border-bottom: 0.1px solid#363636;
    border-top: 0;
    position: absolute;
    width:  94.37%;
    right: 2.3%;
}

.artists-line{
    top: 3.5%;
}

.albums-line{
    top: 26.5%;
}

.musics-line{
    top: 54.5%;
}


.search-artists, .search-albums, .search-musics{
    position: absolute;
    width: 95%;
    left: 3%;
    display: flex;
}

.search-artists{
    top: 8%;  
    height: 158px;
}

.search-albums{
    top: 31%; 
    height: 200px; 
}

.search-musics{
    top: 59%;
    height: 350px;
    
}

.search-artist{
    position: relative;
    top: 0%;
    width: 190px;
    height: 100%;
    margin-left: 5px;
}

.search-artist-img{
    position: absolute;
    width: 130px;
    height: 130px;
    left: 16%;
    bottom: 13%;
    border-radius: 50%;
    
}

.search-artist-name:link,.search-artist-name:visited,.search-album-name:link,.search-album-name:visited, .search-album-artist-name:link,.search-album-artist-name:visited{
    position: absolute;
    width: 100%;
    bottom: 0.5%;
    text-align: center;
    text-decoration: none;
    font: 0.8em 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ABABAB;
}

.search-artist-name:hover, .search-album-name:hover, .search-album-artist-name:hover{
    color: #F05E54;
}

.search-album{
    position: relative;
    top: 0%;
    width: 240px;
    height: 100%;
    margin-left: 5px;
}


.search-album-img{
    position: absolute;
    width: 160px;
    height: 160px;
    left: 0%;
    top: 1%;
    border-radius: 3%;
}

.search-album-name:link,.search-album-name:visited{
    text-align: left;
    bottom: 10.5%;
}

.search-album-artist-name:link,.search-album-artist-name:visited{
    text-align: left;
    bottom: 2.5%;
}

.search-music{
    position: relative;
    top: 0%;
    width: 300px;
    height: 70px;
    margin-left: 5px;

}

.search-music-img{
    position: relative;
    top: 6%;
    width: 64px;
    height: 64px;
    border-radius: 5px;
}

.search-music-name:link,.search-music-name:visited {
    position: absolute;
    top: 11%;
    left: 27%;
    width: calc(100% - 27%);
    text-align: left;
    text-decoration: none;
    font: 1em 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ABABAB;
}

.search-music-artist-name:link, .search-music-artist-name:visited {
    position: absolute;
    top: 45%;
    left: 27%;
    width: calc(100% - 27%);
    text-align: left;
    text-decoration: none;
    font: 0.8em 'Montserrat', sans-serif;
    font-weight: 600;
    color: #ABABAB;
}

.search-music-artist-name:hover, .search-music-name:hover{
    color: #F05E54;
}

.search-music-line{
    border-bottom: 0.1px solid#363636;
    border-top: 0;
    position: absolute;
    width:  94.37%;
    left: 0;
    top: 0;
}

h2.error{
    width: 800px;
    font: 2.6em 'Montserrat', sans-serif;
    font-weight: 700;
    color: #9C9C9C;
    text-align: left;
    position: relative;
    left: 500px;
    top: 250px;
}